@charset "UTF-8";
@import url("common.css");
/*공통 css*/
.bold {
  font-weight: bold;
}

.pointorange {
  color: #e6501f;
}

.pointred {
  color: #dd3232;
}

.underline {
  position: relative;
  text-decoration: underline;
}

/* 공통 div */
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  color: #232323;
  overflow-x: hidden;
  font-size: 15px;
  font-weight: 400;
  word-break: keep-all;
  width: 100%;
  min-width: 1280px;
  max-width: 1920px;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  min-width: 1280px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  border-bottom: 1px solid #eee;
  background: #fff;
}
header > div.head {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
}
header > div.head h1 {
  width: 15%;
  height: 100%;
  margin-right: 1vh;
  position: relative;
}
header > div.head h1 img {
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header > div.head nav {
  width: 84%;
  height: 100%;
  padding: 0;
  border-left: 1px solid #eee;
  padding-left: 1vw;
}
header > div.head nav > ul {
  display: flex;
  justify-content: left;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  height: 100%;
}
header > div.head nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  width: 150px;
  height: 58px;
  position: relative;
}
header > div.head nav > ul > li > a {
  color: #232323;
}
header > div.head nav > ul > li:hover ul {
  display: inline-block;
  opacity: 1;
}
header > div.head nav > ul > li > ul {
  opacity: 0;
  position: absolute;
  top: 60px;
  left: 0;
  text-align: center;
  width: 100%;
}
header > div.head nav > ul > li > ul li {
  background: #fff;
  opacity: 0.6;
}
header > div.head nav > ul > li > ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  font-weight: 400;
  width: 90%;
  margin: 0 auto;
  height: 40px;
  color: #000;
}
header > div.head nav > ul > li > ul li:hover {
  opacity: 1;
}
header > div.head nav > ul > li > ul li:hover a {
  font-weight: 600;
  color: #00b2a9;
}
header > div.head nav.mobile_menu {
  display: none;
}
header.active {
  background: #fff;
}
header div.hover_menu {
  display: none;
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 3vh 0;
  background: #232323;
  color: #666;
  text-align: center;
}
footer div h2 img {
  width: 11%;
}
footer div p {
  white-space: pre-line;
  color: #666;
}
footer div a {
  color: #666;
}

aside {
  display: none;
  position: fixed;
  right: 2vh;
  bottom: 2vh;
  text-align: center;
  z-index: 5;
  transition: 0.5s;
}
aside div ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  flex-direction: column;
  background: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #00b2a9;
  margin-top: 1vh;
  position: relative;
  text-align: center;
  font-size: 0.9em;
}
aside div ul li img {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.3vh;
}
aside div ul li a {
  color: #003349;
}
aside div ul li:first-child:before {
  content: "▲";
  color: #00b2a9;
}

/*메인 인덱스*/
.main_title h3 {
  font-size: 1.5em;
  color: #00b2a9;
  margin-bottom: 1vh;
}
.main_title h4 {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 500;
}
.main_title p {
  white-space: pre-line;
  line-height: 1.4em;
  margin: 3vh 0;
}

.main_sec01 {
  width: 100%;
  height: 95vh;
  position: relative;
  background: #003349;
  position: relative;
}
.main_sec01:before {
  content: "";
  background: url("../img/back_main_sec01.jpg") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 9;
}
.main_sec01 div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.main_sec01 div h2 {
  font-size: 3em;
}

.main_sec02 {
  position: relative;
  width: 100%;
  min-height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*article*/
}
.main_sec02 > article {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  height: 100%;
  flex-direction: column;
}
.main_sec02 > article:first-child {
  background: #00b2a9;
  text-align: right;
}
.main_sec02 > article:first-child div {
  color: #fff;
}
.main_sec02 > article:first-child div h3 {
  font-size: 2.5em;
}
.main_sec02 > article:first-child div h4 {
  font-size: 1.5em;
}
.main_sec02 > article:first-child div p:nth-of-type(1) {
  color: #000;
  margin: 3vh 0;
  line-height: 1.3em;
}
.main_sec02 > article:first-child div > p:nth-of-type(2) {
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  padding: 2vh;
  margin-top: 2vh;
  transition: 0.8s;
}
.main_sec02 > article:first-child div > p:nth-of-type(2) a {
  color: #fff;
}
.main_sec02 > article:first-child div > p:nth-of-type(2):hover {
  background: #fff;
}
.main_sec02 > article:first-child div > p:nth-of-type(2):hover a {
  color: #00b2a9;
  font-weight: 700;
}
.main_sec02 > article:last-child {
  background: #003349;
}
.main_sec02 > article:last-child div {
  text-align: center;
}
.main_sec02 > article:last-child div ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
}
.main_sec02 > article:last-child div ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  flex-direction: column;
  width: 24%;
  height: 150px;
  border: 1px solid #fff;
}
.main_sec02 > article:last-child div ul li img {
  width: 40%;
}
.main_sec02 > article:last-child div ul li p {
  margin-top: 2vh;
  color: #fff;
}
.main_sec02 > article:last-child > p {
  margin-top: 3vh;
  display: inline-block;
  border: 1px solid #fff;
  padding: 2vh;
  transition: 0.8s;
}
.main_sec02 > article:last-child > p a {
  color: #fff;
}
.main_sec02 > article:last-child > p:hover {
  background: #fff;
}
.main_sec02 > article:last-child > p:hover a {
  color: #003349;
  font-weight: 700;
}
.main_sec02 div {
  width: 80%;
}

.main_sec03 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  background: #fff;
  background-image: url("../img/back_main_sec03.png"), url("../img/back_main_sec03_2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left -10% top -20%, right bottom -10%;
  min-height: 55vh;
}
.main_sec03 div {
  text-align: right;
  width: 40%;
  margin-right: 5%;
}
.main_sec03 ul {
  width: 45%;
  margin-right: 5%;
}
.main_sec03 ul li {
  display: inline-block;
  width: 32%;
  text-align: center;
}
.main_sec03 ul li .main_count {
  color: #00b2a9;
  font-size: 5em;
}
.main_sec03 ul li span {
  font-size: 0.8em;
}
.main_sec03 ul li p {
  font-size: 1.1em;
}
.main_sec03 ul li p:before {
  content: "";
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 1vh 0;
  border-top: 2px solid #00b2a9;
}

.main_sec04 {
  background: #eee;
  width: 100%;
  margin: 0 auto;
  padding: 10vh 0;
  height: auto;
  text-align: center;
}
.main_sec04 div {
  width: 70%;
  margin: 0 auto;
  padding: 0;
}
.main_sec04 div:last-child {
  margin: 7vh auto;
}
.main_sec04 div:last-child article {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  width: 100%;
  height: 200px;
  background: #fff;
  margin-top: 2vh;
}
.main_sec04 div:last-child article div:first-child {
  width: 30%;
}
.main_sec04 div:last-child article div:first-child img {
  width: 25%;
}
.main_sec04 div:last-child article div:first-child p {
  color: #00b2a9;
  font-weight: 700;
  font-size: 1.3em;
}
.main_sec04 div:last-child article div:last-child {
  width: 70%;
  white-space: pre-line;
  text-align: left;
  padding: 0 1vw 0 0;
}

.main_sec05 {
  background: #fff;
  width: 100%;
  margin: 0 auto;
  padding: 5vh 0;
  min-height: 70vh;
  text-align: center;
}
.main_sec05 article {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.main_sec05 article img {
  width: 80%;
}
.main_sec05 article .partner_more {
  margin-top: 2vh;
}
.main_sec05 article .partner_more:after {
  content: "+";
  display: inline-block;
  margin-left: 5px;
}
.main_sec05 article .partner_more a {
  color: #003349;
}
.main_sec05 article .partner_more.active:after {
  content: "-";
}
.main_sec05 article .main_partner02 {
  display: none;
}

.main_sec06 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  height: 40vh;
}
.main_sec06 article {
  width: 33.333%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.main_sec06 article h3 {
  font-size: 1.5em;
}
.main_sec06 article p {
  margin: 2vh 0;
}
.main_sec06 article:nth-of-type(1) {
  background: #003349;
}
.main_sec06 article:nth-of-type(1) h3 {
  color: #00b2a9;
}
.main_sec06 article:nth-of-type(1) p {
  color: #fff;
}
.main_sec06 article:nth-of-type(1) p a {
  color: #00b2a9;
  text-transform: uppercase;
  text-decoration: underline;
}
.main_sec06 article:nth-of-type(2) {
  background: #00b2a9;
}
.main_sec06 article:nth-of-type(2) h3 {
  color: #003349;
}
.main_sec06 article:nth-of-type(2) p {
  color: #fff;
  white-space: pre-line;
}
.main_sec06 article:nth-of-type(2) p a {
  color: #fff;
  text-decoration: underline;
}
.main_sec06 article:nth-of-type(3) {
  border-top: 2px solid #00b2a9;
  border-bottom: 2px solid #00b2a9;
}
.main_sec06 article:nth-of-type(3) h3 {
  color: #00b2a9;
}
.main_sec06 article:nth-of-type(3) p:nth-of-type(2) {
  border: 1px solid #00b2a9;
  padding: 1vh 2vh;
  transition: 0.5s;
}
.main_sec06 article:nth-of-type(3) p:nth-of-type(2) a {
  color: #00b2a9;
}
.main_sec06 article:nth-of-type(3) p:nth-of-type(2):hover {
  background: #00b2a9;
}
.main_sec06 article:nth-of-type(3) p:nth-of-type(2):hover a {
  color: #fff;
}

.sub_common {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 300px;
  background: #003349;
  margin-top: 60px;
  position: relative;
}
.sub_common .sub_title {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.sub_common .sub_title h2 {
  font-size: 2.5em;
  z-index: 3;
}
.sub_common .sub_title p {
  white-space: pre-line;
  z-index: 3;
  width: 90%;
  margin: 0 auto;
  letter-spacing: -0.03rem;
}
.sub_common div:last-child {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  margin-top: 1vh;
}
.sub_common div:last-child > span span {
  color: #00b2a9;
}

main .title {
  margin: 0 auto;
  margin-bottom: 2vh;
}
main .title h3 {
  font-size: 1.2em;
  color: #00b2a9;
  text-transform: uppercase;
  margin-bottom: 1vh;
}
main .title h4 {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 500;
  white-space: pre-line;
}
main .title p {
  white-space: pre-line;
  line-height: 1.4em;
  margin: 3vh auto;
}

.sub01 .sub1_sec01 {
  position: relative;
}
.sub01 .sub1_sec01:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: url("../img/sub01_1.jpg") center;
  background-size: cover;
}
.sub01 .sub1_sec02 {
  width: 100%;
  margin: 10vh auto;
  padding: 4vh 0;
  min-height: 50vh;
  background: #fff;
  text-align: center;
}
.sub01 .sub1_sec02 div:last-child {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.sub01 .sub1_sec02 div:last-child ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
}
.sub01 .sub1_sec02 div:last-child ul li {
  width: 30%;
  margin-right: 0.5%;
}
.sub01 .sub1_sec02 div:last-child ul li .main_count {
  color: #00b2a9;
  font-size: 5em;
}
.sub01 .sub1_sec02 div:last-child ul li p:before {
  content: "";
  width: 60%;
  margin: 0 auto;
  height: 2px;
  background: #00b2a9;
  display: block;
  margin-bottom: 1vh;
}
.sub01 .main_sec02 {
  position: relative;
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*article*/
}
.sub01 .main_sec02 > article {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  height: 100%;
  flex-direction: column;
}
.sub01 .main_sec02 > article:first-child {
  background: #00b2a9;
  text-align: right;
}
.sub01 .main_sec02 > article:first-child div {
  color: #fff;
}
.sub01 .main_sec02 > article:first-child div p:nth-of-type(1) {
  color: #000;
  margin: 3vh 0;
  line-height: 1.3em;
  white-space: pre-line;
}
.sub01 .main_sec02 > article:first-child div > p:nth-of-type(2) {
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  padding: 2vh;
  margin-top: 2vh;
  transition: 0.8s;
}
.sub01 .main_sec02 > article:first-child div > p:nth-of-type(2) a {
  color: #fff;
}
.sub01 .main_sec02 > article:first-child div > p:nth-of-type(2):hover {
  background: #fff;
}
.sub01 .main_sec02 > article:first-child div > p:nth-of-type(2):hover a {
  color: #00b2a9;
  font-weight: 700;
}
.sub01 .main_sec02 > article:last-child {
  background: #003349;
}
.sub01 .main_sec02 > article:last-child div {
  text-align: center;
}
.sub01 .main_sec02 > article:last-child div ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
}
.sub01 .main_sec02 > article:last-child div ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  flex-direction: column;
  width: 24%;
  height: 150px;
  border: 1px solid #fff;
}
.sub01 .main_sec02 > article:last-child div ul li img {
  width: 40%;
}
.sub01 .main_sec02 > article:last-child div ul li p {
  margin-top: 2vh;
  color: #fff;
}
.sub01 .main_sec02 > article:last-child > p {
  margin-top: 3vh;
  display: inline-block;
  border: 1px solid #fff;
  padding: 2vh;
  transition: 0.8s;
}
.sub01 .main_sec02 > article:last-child > p a {
  color: #fff;
}
.sub01 .main_sec02 > article:last-child > p:hover {
  background: #fff;
}
.sub01 .main_sec02 > article:last-child > p:hover a {
  color: #003349;
  font-weight: 700;
}
.sub01 .main_sec02 div {
  width: 80%;
}
.sub01 .sub1_sec03 {
  width: 100%;
  margin: 10vh auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  min-height: 80vh;
  position: relative;
  background: #eee;
  background-image: url("../img/sub01_2.png");
  background-size: 60%;
  background-position: left -15% bottom 30%;
  background-repeat: no-repeat;
}
.sub01 .sub1_sec03 > div:nth-of-type(1) {
  width: 55%;
}
.sub01 .sub1_sec03 > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  flex-direction: column;
  width: 35%;
  height: 100%;
  text-align: center;
  padding: 5vh 0;
}
.sub01 .sub1_sec03 > div:nth-of-type(2) ul {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  border-top: 2px solid #00b2a9;
  border-bottom: 2px solid #00b2a9;
  text-align: left;
  margin: 2vh auto;
}
.sub01 .sub1_sec03 > div:nth-of-type(2) ul li {
  height: 9vh;
  display: flex;
  justify-content: left;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
}
.sub01 .sub1_sec03 > div:nth-of-type(2) ul li img {
  width: 15%;
}
.sub01 .sub1_sec03 > div:nth-of-type(2) ul li span {
  text-align: left;
  margin-left: 10px;
}
.sub01 .sub1_sec03 > div:nth-of-type(2) p {
  white-space: pre-line;
}
.sub01 .sub1_sec03 > div:nth-of-type(3) {
  width: 10%;
}
.sub01 .sub1_sec04 {
  width: 100%;
  margin: 10vh auto;
  padding: 10vh 0;
  min-height: 50vh;
  background: #232323;
  text-align: center;
  position: relative;
}
.sub01 .sub1_sec04 div.title h4 {
  color: #fff;
}
.sub01 .sub1_sec04 div.title p {
  color: #eee;
}
.sub01 .sub1_sec04 div:last-child {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.sub01 .sub1_sec04 div:last-child ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
}
.sub01 .sub1_sec04 div:last-child ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  flex-direction: column;
  background: transparent;
  width: 14%;
  padding: 1%;
  vertical-align: top;
}
.sub01 .sub1_sec04 div:last-child ul li .sub01_04title {
  width: 110%;
  font-weight: bold;
  color: #fff;
  font-size: 1.25em;
  margin-bottom: 2vh;
}
.sub01 .sub1_sec04 div:last-child ul li p {
  color: #fff;
  white-space: pre-line;
  margin-top: 2vh;
  font-size: 0.88em;
  width: 95%;
  letter-spacing: -0.02rem;
}
.sub01 .sub1_sec04 div:last-child ul li p span {
  color: #666;
}
.sub01 .sub1_sec05 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.sub01 .sub1_sec05 article {
  width: 80%;
  margin: 10vh auto;
  padding: 0;
}
.sub01 .sub1_sec05 article div img {
  width: 80%;
}
.sub01 .sub1_sec05 article p:after {
  content: "+";
  color: #666;
  margin-left: 5px;
}
.sub01 .sub1_sec05 article p a {
  color: #666;
}
.sub01 .sub1_sec05 article p.active:after {
  content: "-";
}
.sub01 .main_sec06 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  min-height: 40vh;
}
.sub01 .main_sec06 article {
  width: 33.333%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.sub01 .main_sec06 article h3 {
  font-size: 1.5em;
}
.sub01 .main_sec06 article p {
  margin: 2vh 0;
}
.sub01 .main_sec06 article:nth-of-type(1) {
  background: #003349;
}
.sub01 .main_sec06 article:nth-of-type(1) h3 {
  color: #00b2a9;
}
.sub01 .main_sec06 article:nth-of-type(1) p {
  color: #fff;
}
.sub01 .main_sec06 article:nth-of-type(1) p a {
  color: #00b2a9;
  text-transform: uppercase;
  text-decoration: underline;
}
.sub01 .main_sec06 article:nth-of-type(2) {
  background: #00b2a9;
}
.sub01 .main_sec06 article:nth-of-type(2) h3 {
  color: #003349;
}
.sub01 .main_sec06 article:nth-of-type(2) p {
  color: #fff;
  white-space: pre-line;
}
.sub01 .main_sec06 article:nth-of-type(2) p a {
  color: #fff;
  text-decoration: underline;
}
.sub01 .main_sec06 article:nth-of-type(3) {
  border-top: 2px solid #00b2a9;
  border-bottom: 2px solid #00b2a9;
}
.sub01 .main_sec06 article:nth-of-type(3) h3 {
  color: #00b2a9;
}
.sub01 .main_sec06 article:nth-of-type(3) p:nth-of-type(2) {
  border: 1px solid #00b2a9;
  padding: 1vh 2vh;
  transition: 0.5s;
}
.sub01 .main_sec06 article:nth-of-type(3) p:nth-of-type(2) a {
  color: #00b2a9;
}
.sub01 .main_sec06 article:nth-of-type(3) p:nth-of-type(2):hover {
  background: #00b2a9;
}
.sub01 .main_sec06 article:nth-of-type(3) p:nth-of-type(2):hover a {
  color: #fff;
}

.sub02 .sub2_sec01 {
  position: relative;
}
.sub02 .sub2_sec01:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: url("../img/sub02_1.jpg") center;
  background-size: cover;
}
.sub02 .sub2_sec02 {
  width: 80%;
  margin: 10vh auto;
  padding: 0;
  margin-top: 7vh;
}
.sub02 .sub2_sec02 article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  position: relative;
  height: 100%;
  margin-bottom: 9vh;
}
.sub02 .sub2_sec02 article > div {
  width: 50%;
}
.sub02 .sub2_sec02 article .history {
  padding: 0 1.5vw;
}
.sub02 .sub2_sec02 article .history div:last-child {
  margin-top: 1vh;
}
.sub02 .sub2_sec02 article .history div span {
  position: relative;
  color: #00b2a9;
  display: inline-block;
  font-size: 2.8em;
  margin-right: 10px;
}
.sub02 .sub2_sec02 article .history div span:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #00b2a9;
  display: inline-block;
  position: absolute;
  top: 55%;
  transform: translateY(-55%);
  left: 0;
  margin-left: -15px;
}
.sub02 .sub2_sec02 article .history div span:after {
  content: "";
  display: block;
  width: 300%;
  height: 1px;
  background: #00b2a9;
  margin-top: 1vh;
  position: absolute;
}
.sub02 .sub2_sec02 article .history div p {
  white-space: pre-line;
  line-height: 2.3em;
}
.sub02 .sub2_sec02 article:nth-of-type(1) .thum {
  background: url(../img/sub02_2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.sub02 .sub2_sec02 article:nth-of-type(2) .thum {
  background: url(../img/sub02_3.jpg) no-repeat;
  background-size: cover;
  background-position: center left;
}
.sub02 .sub2_sec02 article:nth-of-type(3) .thum {
  background: url(../img/sub02_4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.sub02 .sub2_sec02 article:nth-of-type(4) .thum {
  background: url(../img/sub02_5.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.sub02 .sub2_sec02 article:nth-of-type(5) .thum {
  background: url(../img/sub02_6.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.sub02 .sub2_sec02 article:nth-of-type(2n+2) > div:first-child .thum {
  top: 0;
  right: 52%;
  position: absolute;
  width: 40%;
  max-width: 500px;
  height: 100%;
  max-height: 700px;
  overflow: hidden;
}
.sub02 .sub2_sec02 article:nth-of-type(2n+2) .history div {
  text-align: left;
}
.sub02 .sub2_sec02 article:nth-of-type(2n+1) > div:first-child div {
  text-align: right;
  padding: 2vh 0;
}
.sub02 .sub2_sec02 article:nth-of-type(2n+1) > div:first-child div span:after {
  right: 0;
}
.sub02 .sub2_sec02 article:nth-of-type(2n+1) > div:last-child .thum {
  top: 0;
  left: 52%;
  position: absolute;
  width: 40%;
  max-width: 550px;
  height: 100%;
  max-height: 700px;
}

.sub03 {
  position: relative;
}
.sub03 section:nth-of-type(n+2) {
  margin: 10vh auto;
}
.sub03 .sub3_sec01 {
  position: relative;
}
.sub03 .sub3_sec01:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: url("../img/sub03_1.jpg") center;
  background-size: cover;
}
.sub03 .sub3_sec02 div {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.sub03 .sub3_sec02 article {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
}
.sub03 .sub3_sec02 article > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 24%;
  height: 60vh;
  padding: 2vh;
  background: #003349;
  color: #fff;
  text-align: center;
}
.sub03 .sub3_sec02 article > div h5 {
  font-size: 1.5em;
  min-height: 5vh;
}
.sub03 .sub3_sec02 article > div > p {
  width: 100%;
  white-space: pre-line;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.5em;
  text-align: left;
}
.sub03 .sub3_sec02 article > div ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
}
.sub03 .sub3_sec02 article > div ul li img {
  width: 50%;
  margin-bottom: 0.5vh;
}
.sub03 .sub3_sec02 article > div ul li p {
  font-size: 0.9rem;
}
.sub03 .sub3_sec02 article > div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}
.sub03 .sub3_sec02 article > div:nth-of-type(1):after {
  background: url("../img/sub03_2.jpg") center;
  background-size: cover;
}
.sub03 .sub3_sec02 article > div:nth-of-type(2):after {
  background: url("../img/sub03_3.jpg") center;
  background-size: cover;
}
.sub03 .sub3_sec02 article > div:nth-of-type(3):after {
  background: url("../img/sub03_4.jpg") center;
  background-size: cover;
}
.sub03 .sub3_sec02 article > div:nth-of-type(4):after {
  background: url("../img/sub03_5.jpg") center;
  background-size: cover;
}
.sub03 .sub3_sec03 {
  width: 100%;
  margin: 0 auto;
  padding: 10vh 0;
  text-align: center;
  position: relative;
  background: #eee;
}
.sub03 .sub3_sec03 article.tab {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.sub03 .sub3_sec03 article.tab ul {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  margin-top: 3vh;
}
.sub03 .sub3_sec03 article.tab ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  border: 1px solid #00b2a9;
  border-radius: 25px;
  min-width: 11vw;
  height: 4vh;
  margin-right: 1%;
}
.sub03 .sub3_sec03 article.tab ul li:last-child {
  margin-right: 0;
}
.sub03 .sub3_sec03 article.tab ul li a {
  color: #00b2a9;
}
.sub03 .sub3_sec03 article.tab ul li.active {
  background: #00b2a9;
}
.sub03 .sub3_sec03 article.tab ul li.active a {
  color: #fff;
}
.sub03 .sub3_sec03 article.tab .tab_content {
  width: 100%;
  margin: 2vh auto;
  padding: 0;
  position: relative;
  min-height: 38vh;
  margin-top: 5vh;
}
.sub03 .sub3_sec03 article.tab .tab_content:after {
  content: "";
  display: block;
  clear: both;
}
.sub03 .sub3_sec03 article.tab .tab_content > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  position: absolute;
  visibility: hidden;
}
.sub03 .sub3_sec03 article.tab .tab_content > div div {
  width: 59%;
}
.sub03 .sub3_sec03 article.tab .tab_content > div div img {
  width: 90%;
  border-radius: 60px;
}
.sub03 .sub3_sec03 article.tab .tab_content > div p {
  width: 40%;
  white-space: pre-line;
  text-align: left;
  line-height: 2em;
}
.sub03 .sub3_sec03 article.tab .tab_content > div.active {
  visibility: visible;
}
.sub03 .sub3_sec04 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.sub03 .sub3_sec04 article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  width: 80%;
  margin: 2vh auto;
  padding: 0;
}
.sub03 .sub3_sec04 article > div {
  width: 25%;
  position: relative;
  min-height: 33vh;
}
.sub03 .sub3_sec04 article > div:before {
  content: ">";
  font-size: 2em;
  color: #00b2a9;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.sub03 .sub3_sec04 article > div:first-child:before {
  content: "";
}
.sub03 .sub3_sec04 article > div h5 {
  color: #00b2a9;
  text-transform: uppercase;
  font-size: 1em;
}
.sub03 .sub3_sec04 article > div div {
  width: 100%;
  position: relative;
  margin: 4vh 0 2vh 0;
}
.sub03 .sub3_sec04 article > div div img {
  width: 18%;
  min-width: 65px;
  z-index: 2;
}
.sub03 .sub3_sec04 article > div div:before {
  content: "";
  background: #00b2a9;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
.sub03 .sub3_sec04 article > div p {
  white-space: pre-line;
}
.sub03 .sub3_sec04 article > div p span {
  font-size: 0.8em;
}
.sub03 .sub3_sec05 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  height: 60vh;
  overflow: hidden;
}
.sub03 .sub3_sec05 article {
  width: 50%;
  height: 100%;
}
.sub03 .sub3_sec05 article:first-child {
  background: #00b2a9;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  padding: 0 5vw;
}
.sub03 .sub3_sec05 article:first-child div {
  color: #fff;
  text-align: right;
}
.sub03 .sub3_sec05 article:first-child div h3 {
  color: #003349;
}
.sub03 .sub3_sec05 article:first-child div p {
  white-space: pre-line;
}
.sub03 .sub3_sec05 article.slide {
  position: relative;
  background: #fff;
  border: 2px solid #00b2a9;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  /*버튼*/
  /*indigater*/
}
.sub03 .sub3_sec05 article.slide .slide_div {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.sub03 .sub3_sec05 article.slide .slide_div img {
  width: 53%;
  max-width: 53%;
  height: auto;
  margin: 0 auto;
}
.sub03 .sub3_sec05 article.slide .slick-prev,
.sub03 .sub3_sec05 article.slide .slick-next {
  border: none;
  font-size: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background: none;
  color: #00b2a9;
}
.sub03 .sub3_sec05 article.slide .slick-prev:after {
  content: "<";
  font-size: 15px;
}
.sub03 .sub3_sec05 article.slide .slick-prev {
  left: 3%;
}
.sub03 .sub3_sec05 article.slide .slick-next {
  right: 3%;
}
.sub03 .sub3_sec05 article.slide .slick-next:after {
  content: ">";
  font-size: 15px;
}
.sub03 .sub3_sec05 article.slide .slick-dots {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -1%);
  margin: 0;
  padding: 0;
  list-style: none;
}
.sub03 .sub3_sec05 article.slide .slick-dots li {
  display: inline-block;
}
.sub03 .sub3_sec05 article.slide .slick-dots li button {
  border: none;
  width: 45px;
  height: 2px;
  background: #eee;
  font-size: 0;
}
.sub03 .sub3_sec05 article.slide .slick-dots li.slick-active button {
  background: #00b2a9;
}
.sub03 .sub3_sec06 {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.sub03 .sub3_sec06 article {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.sub03 .sub3_sec06 article > div {
  background: #eee;
  padding: 4vh 0;
  margin: 4vh 0;
  background-image: url("../img/sub03_back.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sub03 .sub3_sec06 article > div img {
  width: 85%;
}
.sub03 .sub3_sec06 article p {
  display: inline-block;
  padding: 1.5vh 3vw;
  background: #00b2a9;
  transition: 0.5s;
  border-radius: 25px;
  box-shadow: 5px 5px 2px #003349;
}
.sub03 .sub3_sec06 article p a {
  color: #fff;
}
.sub03 .sub3_sec06 article p:hover {
  background: #003349;
  box-shadow: 5px 5px 0px #00b2a9;
}
.sub03 .sub3_sec06 article p:hover a {
  color: #00b2a9;
  font-weight: bold;
}

.sub04 {
  width: 100%;
  margin: 0vh auto;
  padding: 0;
}
.sub04 .sub4_sec01 {
  position: relative;
}
.sub04 .sub4_sec01:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: url("../img/sub04_1.jpg") center;
  background-size: cover;
  background-position: center;
}
.sub04 .sub4_sec02 {
  width: 80%;
  margin: 10vh auto;
  padding: 0;
}
.sub04 .sub4_sec02 ul {
  width: 90%;
  margin: 2vh auto;
  padding: 0;
  margin-top: 5vh;
}
.sub04 .sub4_sec02 ul li {
  width: 100%;
  min-height: 10vh;
  padding: 3vh 0;
}
.sub04 .sub4_sec02 ul li:nth-of-type(1) {
  border-top: 2px solid #00b2a9;
}
.sub04 .sub4_sec02 ul li:nth-of-type(2), .sub04 .sub4_sec02 ul li:nth-of-type(3), .sub04 .sub4_sec02 ul li:nth-of-type(4) {
  border-bottom: 2px solid #00b2a9;
}
.sub04 .sub4_sec02 ul li:nth-of-type(3) span {
  width: 11%;
  vertical-align: top;
}
.sub04 .sub4_sec02 ul li:nth-of-type(3) textarea {
  width: 88%;
  height: 15vh;
  border: 1px solid #eee;
  resize: none;
}
.sub04 .sub4_sec02 ul li:last-child {
  position: relative;
}
.sub04 .sub4_sec02 ul li:last-child input {
  width: auto;
  vertical-align: middle;
}
.sub04 .sub4_sec02 ul li:last-child label {
  width: 35%;
  text-align: left;
}
.sub04 .sub4_sec02 ul li:last-child button {
  position: absolute;
  right: 0;
  background: #00b2a9;
  color: #fff;
  border: 0;
  display: inline-block;
  width: 15vw;
  height: 5vh;
}
.sub04 .sub4_sec02 ul li label {
  width: 11%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.sub04 .sub4_sec02 ul li label:after {
  content: "*";
  color: #f00;
  margin-left: 0.5vh;
  vertical-align: middle;
}
.sub04 .sub4_sec02 ul li input {
  width: 38%;
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #eee;
}
.sub04 .sub4_sec02 ul li .agreement_txt {
  width: 100%;
  height: 16vh;
  margin: 1vh auto;
  padding: 0 1.5vh 1.5vh 1.5vh;
  white-space: pre-line;
  overflow: auto;
  background: #eee;
  resize: none;
  font-size: 0.9em;
  color: #666;
}
.sub04 .sub4_sec02 ul li .agreement_txt span {
  font-weight: bold;
}

.sub05 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.sub05 .sub5_sec01 {
  position: relative;
}
.sub05 .sub5_sec01:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: url("../img/sub05_1.jpg") center;
  background-size: cover;
  background-position: center;
}
.sub05 .sub5_sec02 {
  width: 80%;
  margin: 10vh auto;
  padding: 0;
}
.sub05 .sub5_sec02 article {
  text-align: center;
}
.sub05 .sub5_sec02 article h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  margin-bottom: 3vh;
  width: 150px;
  height: 150px;
  background: #003349;
  border-radius: 50%;
}
.sub05 .sub5_sec02 article h2 img {
  width: 90%;
}
.sub05 .sub5_sec02 article p {
  font-weight: bold;
  font-size: 1.2em;
}
.sub05 .sub5_sec02 article span {
  white-space: pre-line;
}
.sub05 .sub5_sec03 {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  width: 80%;
  margin: 2vh auto;
  padding: 0;
}
.sub05 .sub5_sec03 article {
  width: 33%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.sub05 .sub5_sec03 article div {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border: 1px solid #eee;
  border-radius: 50%;
}
.sub05 .sub5_sec03 article div img {
  width: 70%;
}
.sub05 .sub5_sec03 article h3 {
  text-transform: uppercase;
  font-size: 1em;
  color: #00b2a9;
  margin-top: 2vh;
}
.sub05 .sub5_sec04 {
  width: 80%;
  margin: 5vh auto;
  padding: 0;
}
.sub05 .sub5_sec04 > div {
  width: 100%;
  height: auto;
}
.sub05 .sub5_sec04 .wrap_controllers {
  display: none;
}
.sub05 .sub5_sec05 {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  width: 80%;
  margin: 2vh auto;
  padding: 3vh 0;
  border-top: 2px solid #eee;
}
.sub05 .sub5_sec05 article {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.sub05 .sub5_sec05 article h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 1vh 0;
}
.sub05 .sub5_sec05 article div.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-wrap: wrap;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border: 1px solid #eee;
  border-radius: 50%;
}
.sub05 .sub5_sec05 article div.icon img {
  width: 70%;
}
.sub05 .sub5_sec05 article p {
  margin-bottom: 1vh;
}
.sub05 .sub5_sec05 article span {
  font-size: 0.8rem;
}
.sub05 .sub5_sec06 {
  width: 80%;
  margin: 1vh auto;
  padding: 0;
  margin-bottom: 5vh;
}
.sub05 .sub5_sec06 > div {
  width: 100%;
  height: auto;
}
.sub05 .sub5_sec06 .wrap_controllers {
  display: none;
}

/*미디어 쿼리*/
@media (min-width: 768px) and (max-width: 1279px) {
  /* 공통 div */
  body {
    min-width: 769px;
    max-width: 1279px;
  }
  header {
    min-width: 769px;
  }
  header > div.head {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: -moz-flex;
    display: -o-flex;
    -webkit-flex-wrap: wrap;
  }
  header > div.head h1 {
    width: 19%;
    margin-right: 2vh;
  }
  header > div.head h1 img {
    width: 90%;
  }
  header > div.head nav {
    width: 77%;
  }
  footer div {
    margin: 0 auto;
    width: 90%;
  }
  footer div h2 img {
    width: 22%;
  }
  footer div p {
    white-space: pre-line;
  }
  .sub_common div:last-child {
    width: 90%;
  }
  .sub01 .main_sec02 {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    /*article*/
  }
  .sub01 .main_sec02 > article {
    width: 100%;
    margin: 0 auto;
    padding: 5vh 0;
  }
  .sub01 .main_sec02 > article:first-child {
    text-align: center;
  }
  .sub01 .main_sec02 div {
    width: 80%;
    margin: 0 auto;
    padding: 3vh 0;
  }
  .sub01 .sub1_sec03 {
    display: block;
    height: auto;
    background: size 60%;
    background-position: right -28% bottom -27%;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(1) {
    width: 100%;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(2) {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(2) ul li {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -moz-flex;
    display: -o-flex;
    -webkit-flex-wrap: wrap;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(2) ul li img {
    width: 10%;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(3) {
    width: 100%;
    height: 15vh;
  }
  .sub01 .sub1_sec04 {
    width: 100%;
    margin: 10vh auto;
    padding: 10vh 0;
    height: auto;
  }
  .sub01 .sub1_sec04 div:first-child {
    position: relative;
    z-index: 3;
    color: #fff;
    min-height: 200px;
  }
  .sub01 .sub1_sec04 div:last-child {
    position: relative;
    margin: 0 auto;
    transform: translate(0);
    left: 0;
    width: 80%;
  }
  .sub01 .sub1_sec04 div:last-child ul {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }
  .sub01 .sub1_sec04 div:last-child ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -moz-flex;
    display: -o-flex;
    -webkit-flex-wrap: wrap;
    display: inline-block;
    width: 23%;
    padding: 1vh 0;
    margin: 1vh 0;
    vertical-align: top;
  }
  .sub01 .sub1_sec04 div:last-child ul li:nth-of-type(2n) {
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
  .sub01 .sub1_sec04 div:last-child ul li .sub01_04title {
    width: 100%;
    display: block;
  }
  .sub01 .sub1_sec04 div:last-child ul li p {
    display: block;
  }
  .sub01 .sub1_sec05 {
    margin: 5vh 0;
  }
  .sub01 .sub1_sec05 article {
    width: 90%;
  }
  .sub01 .sub1_sec05 article div img {
    width: 100%;
  }
  .sub01 .main_sec06 {
    display: block;
    height: auto;
  }
  .sub01 .main_sec06 article {
    width: 100%;
    height: 100%;
    padding: 3vh 0;
  }
  .sub02 .sub2_sec02 article {
    margin-bottom: 2vh;
    display: block;
  }
  .sub02 .sub2_sec02 article > div {
    width: 90%;
    min-height: 300px;
    position: relative;
  }
  .sub02 .sub2_sec02 article .history div span:after {
    content: "";
    width: 400%;
    height: 0;
    border: 1px solid #00b2a9;
    left: 50%;
    transform: translateX(-50%);
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+2) > div:first-child .thum {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    max-width: 100%;
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+2) .history {
    width: 90%;
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+2) .history div {
    text-align: center;
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+1) > div:first-child {
    width: 90%;
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+1) > div:first-child div {
    text-align: center;
    padding: 2vh 0;
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+1) > div:last-child .thum {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    max-width: 100%;
  }
  .sub03 {
    position: relative;
  }
  .sub03 .sub3_sec02 {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .sub03 .sub3_sec02 article {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }
  .sub03 .sub3_sec02 article > div {
    width: 49%;
    margin-bottom: 1vh;
    display: inline-block;
    vertical-align: top;
    height: 42vh;
    padding-top: 4vh;
  }
  .sub03 .sub3_sec02 article > div:nth-of-type(1n) {
    margin-right: 0.5%;
  }
  .sub03 .sub3_sec02 article > div ul {
    margin-top: 2vh;
  }
  .sub03 .sub3_sec03 {
    padding: 8vh 0;
  }
  .sub03 .sub3_sec03 article.tab {
    width: 90%;
  }
  .sub03 .sub3_sec03 article.tab:after {
    content: "";
    display: block;
    clear: both;
  }
  .sub03 .sub3_sec03 article.tab .tab_content {
    min-height: 55vh;
    display: inline-block;
  }
  .sub03 .sub3_sec03 article.tab .tab_content > div {
    display: block;
  }
  .sub03 .sub3_sec03 article.tab .tab_content > div div {
    display: block;
    width: 100%;
  }
  .sub03 .sub3_sec03 article.tab .tab_content > div div img {
    width: 80%;
  }
  .sub03 .sub3_sec03 article.tab .tab_content > div p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .sub03 .sub3_sec04 article {
    display: inline-block;
  }
  .sub03 .sub3_sec04 article > div {
    display: inline-block;
    width: 49%;
    margin-bottom: 4vh;
    vertical-align: top;
  }
  .sub03 .sub3_sec04 article > div:before {
    content: "";
  }
  .sub03 .sub3_sec05 {
    height: auto;
    overflow: hidden;
    display: block;
  }
  .sub03 .sub3_sec05 article {
    width: 100%;
    height: 100%;
    display: block;
  }
  .sub03 .sub3_sec05 article:first-child {
    width: 100%;
    padding: 3vh 0;
    display: block;
  }
  .sub03 .sub3_sec05 article:first-child div {
    text-align: center;
  }
  .sub03 .sub3_sec05 article.slide {
    width: 100%;
    display: block;
  }
  .sub03 .sub3_sec05 article.slide div img {
    width: 100%;
  }
}
/*미디어 ~767px*/
@media (min-width: 320px) and (max-width: 767px) {
  /* 공통 div */
  body {
    min-width: 320px;
    max-width: 767px;
  }
  body.active {
    overflow: hidden;
  }
  header {
    min-width: 320px;
  }
  header > div.head {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: -moz-flex;
    display: -o-flex;
    -webkit-flex-wrap: wrap;
    height: 60px;
    position: relative;
  }
  header > div.head h1 {
    width: 30%;
    margin: 0 auto;
    position: relative;
  }
  header > div.head h1 img {
    width: 90%;
  }
  header > div.head h1:after {
    content: "";
    position: absolute;
    right: 0;
    margin-right: -10%;
    height: 100%;
    border-right: 1px solid #eee;
  }
  header > div.head nav {
    display: none;
    width: 75%;
  }
  header > div.head nav > ul > li {
    width: 33%;
  }
  header > div.head p.mobile_dummy {
    display: inline-block;
    width: 62%;
    background: transparent;
  }
  header > div.head nav.mobile_menu {
    display: block;
    position: absolute;
    right: 0;
    width: 28px;
    padding: 0;
    border-left: 1px solid transparent;
  }
  header > div.head nav.mobile_menu a.menu-trigger {
    position: absolute;
    width: 100%;
    height: 16px;
    z-index: 9;
    transform: scale(1);
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  header > div.head nav.mobile_menu a.menu-trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background: #000;
    border-radius: 4px;
  }
  header > div.head nav.mobile_menu a.menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  header > div.head nav.mobile_menu a.menu-trigger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  header > div.head nav.mobile_menu a.menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  header > div.head nav.mobile_menu a.menu-trigger.active span:nth-of-type(1) {
    transform: translateY(7px) rotate(45deg);
    background: #fff;
  }
  header > div.head nav.mobile_menu a.menu-trigger.active span:nth-of-type(2) {
    display: none;
  }
  header > div.head nav.mobile_menu a.menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-7px) rotate(-45deg);
    background: #fff;
  }
  header div.hover_menu {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -moz-flex;
    display: -o-flex;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
    background: #003349;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transform: translateY(-200%);
    transition: 1.2s;
    overflow-y: scroll;
  }
  header div.hover_menu.active {
    transform: translateY(0);
    transition: 0.6s;
  }
  header div.hover_menu ul.hover_menu_ui {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -moz-flex;
    display: -o-flex;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  header div.hover_menu ul.hover_menu_ui li {
    width: 100%;
    padding: 1.5% 0;
    border-bottom: 1px dashed #fff;
    margin-bottom: 1%;
  }
  header div.hover_menu ul.hover_menu_ui li h2 {
    width: 50%;
  }
  header div.hover_menu ul.hover_menu_ui li h2 img {
    width: 90%;
  }
  header div.hover_menu ul.hover_menu_ui li a h3 {
    text-transform: uppercase;
    color: #00b2a9;
    font-size: 1em;
  }
  header div.hover_menu ul.hover_menu_ui li a span {
    color: #fff;
    font-size: 1.5em;
  }
  footer div {
    margin: 0 auto;
    width: 90%;
  }
  footer div h2 img {
    width: 35%;
  }
  footer div p {
    white-space: pre-line;
    font-size: 0.9rem;
  }
  aside div ul li {
    width: 60px;
    height: 60px;
  }
  aside div ul li img {
    width: 40%;
  }
  main .title {
    margin: 0 auto;
    margin-bottom: 2vh;
  }
  main .title h3 {
    font-size: 1.1em;
    color: #00b2a9;
    text-transform: uppercase;
    margin-bottom: 1vh;
  }
  main .title h4 {
    font-size: 1.55rem;
    line-height: 1.2em;
    font-weight: 500;
    white-space: pre-line;
  }
  main .title p {
    white-space: inherit;
    line-height: 1.4em;
    margin: 3vh auto;
    width: 90%;
  }
  .sub_common div:last-child {
    width: 90%;
  }
  .sub01 .sub1_sec02 {
    margin: 5vh auto;
  }
  .sub01 .sub1_sec02 div:last-child {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  .sub01 .sub1_sec02 div:last-child ul {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
  }
  .sub01 .sub1_sec02 div:last-child ul li {
    width: 100%;
    margin: 2vh auto;
  }
  .sub01 .sub1_sec02 div:last-child ul li p:before {
    content: "";
    width: 15%;
  }
  .sub01 .main_sec02 {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    /*article*/
  }
  .sub01 .main_sec02 > article {
    width: 100%;
    margin: 0 auto;
    padding: 6vh 0;
  }
  .sub01 .main_sec02 > article:first-child {
    text-align: center;
  }
  .sub01 .main_sec02 > article:first-child div h3 {
    font-size: 1.1em;
  }
  .sub01 .main_sec02 > article:first-child div h4 {
    font-size: 1.55rem;
  }
  .sub01 .main_sec02 > article:last-child div ul {
    display: inline-block;
  }
  .sub01 .main_sec02 > article:last-child div ul li {
    display: inline-block;
    width: 45%;
    min-height: 20vh;
    height: auto;
    margin-bottom: 2vh;
    padding: 2vh 0;
    vertical-align: top;
  }
  .sub01 .main_sec02 > article:last-child div ul li img {
    width: 25%;
  }
  .sub01 .main_sec02 > article:last-child div ul li:nth-of-type(2n) {
    margin-left: 2%;
  }
  .sub01 .main_sec02 div {
    width: 90%;
  }
  .sub01 .sub1_sec03 {
    display: block;
    height: auto;
    background-size: 70%;
    background-position: right -20% bottom -18%;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(1) {
    width: 100%;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(2) {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(2) ul {
    width: 80%;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(2) ul li {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -moz-flex;
    display: -o-flex;
    -webkit-flex-wrap: wrap;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(2) ul li img {
    width: 10%;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(2) > p {
    width: 90%;
    white-space: inherit;
  }
  .sub01 .sub1_sec03 > div:nth-of-type(3) {
    width: 100%;
    height: 15vh;
  }
  .sub01 .sub1_sec04 {
    padding: 5vh 0;
  }
  .sub01 .sub1_sec04 div:first-child {
    position: relative;
    z-index: 3;
    color: #fff;
    min-height: 200px;
  }
  .sub01 .sub1_sec04 div:last-child {
    position: relative;
    margin: 0 auto;
    transform: translate(0);
    left: 0;
    width: 95%;
  }
  .sub01 .sub1_sec04 div:last-child ul {
    width: 100%;
    display: inline-block;
    padding: 0;
  }
  .sub01 .sub1_sec04 div:last-child ul li {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    margin-bottom: 1vh;
    min-height: 22vh;
    border: none;
  }
  .sub01 .sub1_sec04 div:last-child ul li .sub01_04title {
    display: block;
    font-size: 1.25rem;
    width: 100%;
  }
  .sub01 .sub1_sec04 div:last-child ul li > img {
    display: block;
    margin: 0 auto;
  }
  .sub01 .sub1_sec04 div:last-child ul li p {
    line-height: 1.4rem;
    margin-top: 1vh;
  }
  .sub01 .sub1_sec04 div:last-child ul li:nth-of-type(2n) {
    margin-left: 0;
  }
  .sub01 .sub1_sec05 {
    margin: 5vh 0;
  }
  .sub01 .sub1_sec05 article {
    width: 90%;
  }
  .sub01 .sub1_sec05 article div img {
    width: 100%;
  }
  .sub01 .main_sec06 {
    display: block;
    height: auto;
  }
  .sub01 .main_sec06 article {
    width: 100%;
    height: 100%;
    padding: 3vh 0;
  }
  .sub02 .sub2_sec02 {
    width: 90%;
  }
  .sub02 .sub2_sec02 .thum {
    display: none;
  }
  .sub02 .sub2_sec02 article {
    margin-bottom: 2vh;
    display: block;
    margin: 0 auto;
    overflow: hidden;
  }
  .sub02 .sub2_sec02 article > div {
    width: 90%;
    margin: 0 auto;
    min-height: 0;
    position: relative;
  }
  .sub02 .sub2_sec02 article .history div:last-child {
    margin-top: 0;
  }
  .sub02 .sub2_sec02 article .history div span:after {
    content: "";
    width: 400%;
    height: 0;
    border: 1px solid #00b2a9;
    left: 50%;
    transform: translateX(-50%);
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+2) > div:first-child .thum {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    max-width: 100%;
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+2) .history {
    width: 100%;
    padding: 0;
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+2) .history div {
    text-align: center;
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+2) .history div span {
    margin-right: 0;
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+1) > div:first-child {
    width: 90%;
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+1) > div:first-child div {
    text-align: center;
    padding: 2vh 0;
  }
  .sub02 .sub2_sec02 article:nth-of-type(2n+1) > div:last-child .thum {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    max-width: 100%;
  }
  .sub03 {
    position: relative;
  }
  .sub03 .sub3_sec02 {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .sub03 .sub3_sec02 article {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }
  .sub03 .sub3_sec02 article > div {
    width: 100%;
    height: auto;
    margin-bottom: 2vh;
  }
  .sub03 .sub3_sec02 article > div > p {
    text-align: center;
  }
  .sub03 .sub3_sec02 article > div ul {
    margin-top: 1vh;
  }
  .sub03 .sub3_sec03 {
    padding: 5vh 0;
  }
  .sub03 .sub3_sec03 article.tab {
    width: 90%;
  }
  .sub03 .sub3_sec03 article.tab ul li {
    min-width: 30vw;
  }
  .sub03 .sub3_sec03 article.tab .tab_content {
    min-height: 53vh;
  }
  .sub03 .sub3_sec03 article.tab .tab_content > div {
    display: block;
  }
  .sub03 .sub3_sec03 article.tab .tab_content > div div {
    display: block;
    width: 100%;
  }
  .sub03 .sub3_sec03 article.tab .tab_content > div div img {
    width: 100%;
    border-radius: 20px;
  }
  .sub03 .sub3_sec03 article.tab .tab_content > div p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: -0.08rem;
  }
  .sub03 .sub3_sec04 article {
    display: inline-block;
    width: 90%;
  }
  .sub03 .sub3_sec04 article > div {
    display: inline-block;
    width: 48%;
    margin-bottom: 4vh;
    vertical-align: top;
  }
  .sub03 .sub3_sec04 article > div:before {
    content: "";
  }
  .sub03 .sub3_sec05 {
    height: auto;
    overflow: hidden;
    display: block;
  }
  .sub03 .sub3_sec05 article {
    width: 100%;
  }
  .sub03 .sub3_sec05 article:first-child {
    padding: 2vh 0;
  }
  .sub03 .sub3_sec05 article:first-child div {
    text-align: center;
  }
  .sub03 .sub3_sec05 article:first-child div p {
    white-space: inherit;
  }
  .sub03 .sub3_sec05 article.slide {
    /*버튼*/
    /*indigater*/
  }
  .sub03 .sub3_sec05 article.slide .slide_div img {
    width: 90%;
    max-width: 90%;
    margin-bottom: 2vh;
  }
  .sub03 .sub3_sec05 article.slide .slick-prev:after {
    content: "<";
    font-size: 20px;
  }
  .sub03 .sub3_sec05 article.slide .slick-prev {
    left: 0%;
  }
  .sub03 .sub3_sec05 article.slide .slick-next {
    right: 0%;
  }
  .sub03 .sub3_sec05 article.slide .slick-next:after {
    content: ">";
    font-size: 20px;
  }
  .sub03 .sub3_sec05 article.slide .slick-dots li button {
    width: 20px;
    height: 2px;
    margin-right: 2px;
  }
  .sub03 .sub3_sec05 article.slide .slick-dots li.slick-active button {
    background: #00b2a9;
    width: 40px;
  }
  .sub03 .sub3_sec06 {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .sub03 .sub3_sec06 article {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
  .sub03 .sub3_sec06 article > div img {
    width: 95%;
  }
  .sub03 .sub3_sec06 article p {
    padding: 1.5vh 5vw;
  }
  .sub04 {
    width: 100%;
    margin: 0vh auto;
    padding: 0;
  }
  .sub04 .sub4_sec02 {
    width: 90%;
    margin: 10vh auto;
    padding: 0;
  }
  .sub04 .sub4_sec02 ul {
    width: 100%;
    margin: 2vh auto;
    padding: 0;
    margin-top: 5vh;
  }
  .sub04 .sub4_sec02 ul li {
    width: 100%;
    min-height: auto;
    padding: 0;
    padding: 3vh 0;
  }
  .sub04 .sub4_sec02 ul li:nth-of-type(1) {
    border-top: 2px solid #00b2a9;
    padding-bottom: 0;
  }
  .sub04 .sub4_sec02 ul li:nth-of-type(2) {
    padding-top: 0;
  }
  .sub04 .sub4_sec02 ul li:nth-of-type(2), .sub04 .sub4_sec02 ul li:nth-of-type(3), .sub04 .sub4_sec02 ul li:nth-of-type(4) {
    border: none;
  }
  .sub04 .sub4_sec02 ul li:nth-of-type(3) {
    padding-top: 0;
  }
  .sub04 .sub4_sec02 ul li:nth-of-type(3) span {
    width: 19%;
    vertical-align: top;
  }
  .sub04 .sub4_sec02 ul li:nth-of-type(3) textarea {
    width: 78%;
    height: 18vh;
  }
  .sub04 .sub4_sec02 ul li:last-child {
    position: relative;
  }
  .sub04 .sub4_sec02 ul li:last-child input {
    width: auto;
    vertical-align: middle;
    min-height: auto;
  }
  .sub04 .sub4_sec02 ul li:last-child label {
    width: 80%;
    text-align: left;
  }
  .sub04 .sub4_sec02 ul li:last-child button {
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translateX(-50%);
    width: 35vw;
  }
  .sub04 .sub4_sec02 ul li label {
    width: 19%;
    text-align: left;
    margin-bottom: 3vh;
  }
  .sub04 .sub4_sec02 ul li input {
    width: 78%;
    border: 1px solid #eee;
    min-height: 4vh;
    vertical-align: middle;
  }
  .sub04 .sub4_sec02 ul li .agreement_txt {
    width: 100%;
    height: 16vh;
  }
  .sub05 .sub5_sec02 {
    width: 90%;
    margin: 10vh auto;
    padding: 0;
  }
  .sub05 .sub5_sec03 {
    width: 100%;
  }
  .sub05 .sub5_sec03 article {
    width: 90%;
    margin: 1.5vh auto;
    padding: 0;
  }
  .sub05 .sub5_sec04 {
    width: 100%;
    margin: 5vh 0;
  }
  .sub05 .sub5_sec04 > div {
    width: 100%;
    max-height: 300px;
  }
  .sub05 .sub5_sec05 {
    width: 100%;
  }
  .sub05 .sub5_sec06 {
    width: 100%;
  }
  .sub05 .sub5_sec06 div#daumRoughmapContainer1637039027966 {
    height: 250px;
  }
}/*# sourceMappingURL=style_220922(backup).css.map */