@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

body{
    /* font-family: 'Noto Sans KR', sans-serif; */
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';

}

*{ box-sizing:border-box;}
html,body {margin:0; padding:0;}
ul,li {margin:0; padding:0; list-style:none;}
a {text-decoration:none;}
h1,h2,h3,h4,h5,h6,p {margin:0 auto; padding:0;}
.table{border-collapse: collapse;}
figure{margin:0; padding:0;}


